.Calendar {
  border-collapse: collapse;
  padding: 0;
  margin: 4rem auto 0;
}

.Calendar th,
.Calendar td {
  text-align: center;
}

.Day:hover {
  background: #eee;
  color: #000;
}

.Day.today {
  background: #666;
  color: #fff;
}

.Day.selected {
  background: #2980b9;
  color: #fff;
}

.Day.other-month {
  color: #ddd;
}

.Day .number {
  font-weight: bold;
  font-size: 200%;
}
