.Calendar {
  border-collapse: collapse;
  padding: 0;
  margin: 1rem auto 0;
}

.topButtons {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Calendar th,
.Calendar td {
  text-align: center;
}

.Calendar .month-header {
  display: none;
}

.Day {
  padding-top: 1em;
  padding-bottom: 1em;
}

.Day:hover {
  background: #eee;
  color: #000;
}

.Day.today {
  background: #666;
  color: #fff;
}

.Day.selected {
  background: #2980b9;
  color: #fff;
}

.Day.other-month {
  color: #ddd;
}

.Day .number {
  font-weight: bold;
  font-size: 200%;
}
